@font-face {
    font-family: 'Millimetre Bold';
    src: url(fonts/Millimetre-Bold_web.woff2);
}
@font-face {
    font-family: 'Millimetre';
    src: url(fonts/Millimetre-Regular_web.woff2);
}
body{
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    color: black;
    min-height: 99vh;
}
.home {
    background-color: rgb(245, 245, 245);
}
.header-title{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;

}
.header {
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    gap: 45px ;
    align-items: center;
    position: sticky;
    top: 0px;
    text-transform: uppercase;
    font-size: 18px;
    /* border-bottom: 1px solid #000000; */
    background-color: rgb(245, 245, 245);
    font-family: 'Millimetre Bold', sans-serif;
    padding-top: 10px;
}
.header a {
    display: inline-block;
    transition: .5s;
    text-decoration: none;
    color: #000000;
}  
.header a:hover {
    opacity: 1;
    transform: translate(0,4px);
}
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px ;
    align-items: center;
    text-transform: uppercase;
    font-size: 17px;
    position: fixed;
    bottom:0;
    left: auto;
    right: auto;
    margin-left: 10px;
    padding: 10px;
    padding-bottom: 15px;
    border-top: 1px solid #000000;
    background-color: rgb(245, 245, 245);
    font-weight: 900;
}
.footer a {
    display: inline-block;
    transition: .5s;
    text-decoration: none;
    color: #000000;
}  
.footer a:hover {
    opacity: 1;
    transform: translate(0,4px);
}
.footer-apropos {
    gap: 45px ;
    align-items: center;
    text-transform: uppercase;
    font-size: 17px;
    position: fixed;
    bottom:0;
    left: auto;
    right: auto;
    margin-left: 10px;
    padding: 10px;
    padding-bottom: 15px;
    border-top: 1px solid #000000;
    background-color: rgb(245, 245, 245);
    font-weight: 900;
}
.footer-apropos a {
    display: inline-block;
    transition: .5s;
    text-decoration: none;
    color: #000000;
}  
.footer-apropos a:hover {
    opacity: 1;
    transform: translate(0,4px);
}
.img-fx{
    transition: 1s;
}
.project:hover .img-fx{
    opacity:0.1;
    filter: grayscale(1);
}
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, 310px);
    justify-content: center;
    max-width:2500px;
    margin:auto;
    gap:70px;
    margin-top: 45px;
    margin-bottom: 70px;
}
.projects .project{
    display:grid;
    justify-items:center;
    align-items:center;
    color:#467246;
    overflow:hidden;
}
.projects .project img {
    grid-column:1/-1;
    grid-row:1/-1;
    transition:0.5s;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    max-width: 100%;
}
.projects .project p{
    grid-column:1/-1;
    grid-row:1/-1;
    transition:0.5s;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    opacity:0;
    z-index:9999;
}
.projects .project:hover img{
    transform: scale(1.1);
}       
.projects .project:hover p{
    opacity:1;
    z-index:9999;
    filter: none;
    padding: 1px;
}          
.projects a{
    text-decoration: none;
}
.g-home {
    font-family: 'Millimetre', sans-serif;
    font-size: 55px;
    text-align: center;
    color: #ba9b6a;
}
.m-home {
    font-family: 'Millimetre', sans-serif;
    font-size: 55px;
    text-align: center;
    color: #cdba8e;
}
.nexus-home {
    font-family: 'Millimetre', sans-serif;
    font-size: 55px;
    text-align: center;
    color: rgb(89, 89, 89);
}
.taste-home {
    font-family: 'Millimetre', sans-serif;
    font-size: 55px;
    text-align: center;
    color: #24b1ee;
}
.ttp-home {
    font-family: 'Millimetre', sans-serif;
    font-size: 55px;
    text-align: center;
    color: #2e6870;
}
.fv-home {
    font-family: 'Millimetre', sans-serif;
    font-size: 55px;
    text-align: center;
    color: rgb(89, 89, 89);
}
.jsv-home {
    font-family: 'Millimetre', sans-serif;
    font-size: 50px;
    text-align: center;
    color: #d5896c;
}
.r-home {
    font-family: 'Millimetre', sans-serif;
    font-size: 55px;
    text-align: center;
    color : #af739f;
}
.ldt-home {
    font-family: 'Millimetre', sans-serif;
    font-size: 55px;
    text-align: center;
    color : #d68b2e;
}
.vo-home {
    font-family: 'Millimetre', sans-serif;
    font-size: 55px;
    text-align: center;
    color : #F04064;
}
.home-page {
    background-color: rgb(245, 245, 245);
}
.project-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px,1fr));
    gap: 10px;
    justify-content: center;
    margin-bottom: 70px;
    margin-top: 10px;
    grid-auto-flow: row dense;
}
.project-page img{
    max-width: 100%;
}
.page-img {
    display: block;
    max-width: 100%;
}
.page-imgLarge {
    margin: auto;
    grid-column: span 2;  
}
.project-page p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    grid-column: span 2;
}
/* .project-page h1 {
    font-size: 50px;
    text-transform: uppercase;
    /* grid-column: span 2;
    } */

/* p span {
    font-weight: bold;
    text-transform: uppercase;
} */
span.titre {
    text-transform: uppercase;
    font-size: 70px;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
}
span.soustitre {
    text-transform: uppercase;
    font-size: 12px;

}
span.texte {
    font-weight: bold;
    text-transform: uppercase;
}
.footer-icone {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:130px;
    position:static;
    padding: 30px;
}
/* .cop {
    font-family: 'Montserrat';
    font-size: 17px;
    margin: auto;
    font-weight: lighter;
} */
.contact{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-left: 90px;
    margin-right: auto;
    margin-top: 80px;
}
.contact a {
    text-decoration: none;
    color: rgb(109, 109, 109);
}
.a-propos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-left: 90px;
    margin-right: auto;
    margin-top: 40px; 
    margin-bottom: 80px;  
}

.grid{
    display:grid;
    grid-template-columns:1fr 2fr 1fr;
    font-family: 'Montserrat', sans-serif;
    /* margin-left: 80px;
    margin-right: 80px; */
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

  }
.intro{
    font-family: 'Millimetre Bold', sans-serif;
    font-size:40px;
    padding:30px;
    grid-column:1 / -1;
    border-top:1px solid #000;
    margin:0;
    font-weight: bold;
    margin-top: 60px;
  }
.date{
    padding:20px;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    grid-column:1 / -1;
    font-size: 20px;
    font-weight: 600;
  }
.lieu{
    padding:20px;
    font-size: 17px;
    grid-column:1 / 2 ;
    font-weight: 200;
  }
.event{
    padding:20px;
    grid-column:2/-2;
    font-size: 18px;
  }
.event-1{
    padding:20px;
    grid-column:2/-2;
    font-size: 18px;
    font-weight: 900;
  }
.ville{
    padding:20px;
    grid-column:3/-1;
    font-size: 17px;
    margin: auto;
    font-weight: 200;
  }
.lieu-2{
    padding:20px;
    font-size: 18px;
    grid-column:1 / 2 ;
  }
.event-2{
    padding:20px;
    grid-column:2/-1;
    font-size: 18px;
  }
.intro-2{
    font-size:40px;
    padding:30px;
    grid-column:1 / -1;
    margin:0;
    font-weight: bold;
    margin-top: 60px;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
  }
.texte{
    padding:auto;
    grid-column:1/-1;
    font-size: 18px; 
}  
.texte1{
    grid-column:1/-1;
    font-size: 13px; 
}  
.texte a {
    text-decoration: none;
    color: rgb(109, 109, 109);
}
.texte a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* MOBILE */
@media (min-width:200px) {
    .page-imgXLarge{
        margin: auto;
        grid-column: span 3;  
        grid-row: span 2;
    }
    .page-imgXXLarge {
        margin: auto;
        grid-column: span 4;  
    }
    .page-imgXXXLarge {
        margin: auto;
        grid-column: span 5;  
    }
    .page-imgM {
        margin: auto;
        grid-column: span 1;  
    }
}

/* TABLETTE */
@media (min-width:562px) {
    .page-imgXLarge{
        margin: auto;
        grid-column: span 3;  
        grid-row: span 2;
    }
    .page-imgXXLarge {
        margin: auto;
        grid-column: span 4;  
    }
    .page-imgXXXLarge {
        margin: auto;
        grid-column: span 5;  
    }
    .page-imgM {
        margin: auto;
        grid-column: span 1;  
    }
}
/* DESKTOP */
@media (min-width:731px) {
    .page-imgXLarge{
        margin: auto;
        grid-column: span 3;  
    }
    .page-imgXXLarge {
        margin: auto;
        grid-column: span 4;  
    }
    .page-imgXXXLarge {
        margin: auto;
        grid-column: span 5;  
    }
    .page-imgM {
        margin: auto;
        grid-column: span 1;  
    }
}